

<div id="signuppage">
    <div id="su-page-header">
      Join WeAct
    </div>
    <div id="signupform">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div id="su-left-fields">
            <div class="su-field-labels"><%= f.label :name %>:</div>
            <div class="su-fields"><%= f.text_field :name %></div>
            
            <div class="su-field-labels"><%= f.label :bio %>:</div>
            <div class="su-fields"><%= f.text_field :bio %></div>

            <div class="su-field-labels"><%= f.label :city %>:</div>
            <div class="su-fields"><%= f.text_field :city %></div>

            <div class="su-field-labels"><%= f.label :state %>:</div>
            <div class="su-fields"><%= f.text_field :state %></div>
        </div>
        <div id="su-right-fields">
            <div class="su-field-labels"><%= f.label :email %>:</div>
            <div class="su-fields"><%= f.email_field :email, autofocus: true %></div>

            <div class="su-field-labels"><%= f.label :password %>:</div>
            <div class="su-fields"><%= f.password_field :password, autocomplete: "off" %></div>

            <div class="su-field-labels"><%= f.label "Confirm Password" %>:</div>
            <div class="su-fields"><%= f.password_field :password_confirmation, autocomplete: "off" %></div><br />
        </div>
        <div><%= f.submit "Sign up" %></div>
      <% end %>
    </div>
</div>
