<div id="home">
	<div id="hometext">
		<a href="#abouttop" id="learnmore"><%= image_tag('seeforyourself.png', id: "seeforyourself", height: 180, width: 290)%></a>
	</div>
</div>
<a id="abouttop"></a>

<div id="about">
	<div id="backgroundcolor">
		<div class="about-content">
			<h1 class="mission-statement" id="mission-statement">We strive to <strong>strengthen</strong> community bonds through activism at a grassroots level.</h1>
			<!-- <div id="front-page-picture">
					<%= image_tag("houseicon.png", id: "houseicon", height: 80, width: 80) %>
					<%= image_tag("line.png", id: "line", height: 15, width: 270) %>
					<%= image_tag("noteicon.png", id: "noteicon", height: 70, width: 70) %>
					<%= image_tag("line.png", id: "line2", height: 15, width: 270) %>
					<%= image_tag("action.png", id: "actionicon", height: 70, width: 70) %>
			</div> -->
			<div class="row">
				<div class="col-md-4">
					<div class="fp-about-icons"><%= image_tag("houseicon.png", id: "houseicon", height: 80, width: 80) %></div>
					<h3 class="fp-about-headers" id="left-header">Localized Events</h3>
					<p class="fp-paragraphs" id="leftparagraph">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
					</p>
				</div>
				<div class="col-md-4">
					<div class="fp-about-icons"><%= image_tag("noteicon.png", id: "noteicon", height: 70, width: 70) %></div>
					<h3 class="fp-about-headers" id="mid-header">Issue Driven</h3>
					<p class="fp-paragraphs" id="midparagraph">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
					</p>
				</div>
				<div class="col-md-4">
					<div class="fp-about-icons"><%= image_tag("action.png", id: "actionicon", height: 70, width: 70) %></div>
					<h3 class="fp-about-headers" id="right-header">Take Action</h3>
					<p class="fp-paragraphs" id="rightparagraph">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <a id="signuptop"></a>
		<div id="signup">
		<div id="signupform">
			<%= form_for(:user, :url => session_path(:user)) do |f| %>
			Email:<%= f.text_field :email %>
			Password:<%= f.password_field :password %>
			<%= f.check_box :remember_me %>
			<%= f.label :remember_me %>
			<%= f.submit 'Sign in' %>
			<%= link_to "Forgot your password?", new_password_path(:user) %>
			<% end %>
		</div>
		</div> -->
</body>
</html>