<h1>Events List</h1>
<ul>
	<% @events.each do |event| %>
	<li>
		<%= event.title %>
		<%= link_to 'Edit', edit_event_path(event) %>
		<% if user_signed_in? %>
			<%= link_to "Join", join_url(id: event.id) %>
		<%end%>
	</li>

	<% end %>


</ul>

</br>
<%= link_to 'Create Event', new_event_path %>
<br/>
<%= link_to 'View Profile', user_path(current_user) %>
<br/>
<%= link_to 'Update Account', edit_user_registration_path %>
