<h1>Events List</h1>


<%= form_tag events_path, :method => 'GET' do %>
<%= text_field_tag 'q', params[:q] %>
<%= submit_tag 'SEARCH' %>
<% end %>

<ul>
	<% @events.each do |event| %>
	<li>
		<%= link_to event.title, event_path(event) %>
		<%= link_to 'Edit', edit_event_path(event) %>
		<% if user_signed_in? %>
			<%= link_to "Join", join_url(id: event.id) %>
		<%end%>
	</li>

	<% end %>


</ul>

</br>
<%= link_to 'Create Event', new_event_path %>
<br/>
<%= link_to 'View Profile', user_path(current_user) %>
<br/>
<%= link_to 'Update Account', edit_user_registration_path %>
