


<div class="events-content">
	<div id="events-shovel-pic">
	</div>
	<div class="events-searchbar">
		<div id="search-label"><%= image_tag("searchicon.png", :size => "20x20") %> Search Events:</div>
		<%= form_tag "/events", method: 'GET', id: 'events_search' do %>
		 	<%= text_field_tag 'q', params[:q] %>
		 	<%= select_tag 'field', options_for_select([ ["Location", "city"], ["Category", "category"], ["Event Title", "title"] ]) %>
		  <div style="clear: both"></div>
		<% end %>
	</div>

	<div id="events">
	  <%= render "events" %>
	</div>

	<% if user_signed_in? %>
		<%= link_to 'Update Account', edit_user_registration_path %>
		<%= link_to 'Stories', success_index_path %>
	<%end%>
</div>

