<h1>Events List</h1>


<%= form_tag "/events", method: 'GET', id: 'events_search' do %>
 
  <%= text_field_tag 'q', params[:q] %>
  <div style="clear: both"></div>
<% end %>


<div id="events">
  <%= render "events" %>
</div>
</br>
<%= link_to 'Create Event', new_event_path %>
<br/>
<%= link_to 'View Profile', user_path(current_user) %>
<br/>
<%= link_to 'Update Account', edit_user_registration_path %>


