<p>
	<strong>Title:</strong>
	<%= @event.title %>
</p>

<p>
	<strong>Description:</strong>
	<%= @event.description %>
</p>

<p>
	<strong>City:</strong>
	<%= @event.city %>
</p>

<p>
	<strong>State:</strong>
	<%= @event.state %>
</p>

<p>
	<strong>Address:</strong>
	<%= @event.address %>
</p>

<p>
	<strong>Picture:</strong>
	<%= image_tag @event.picture.url(:thumb) %>
</p>


<p>
	
<% @event.teams.each do |team| %>
Team: <%= team.name %>
<br/>
Positions: <% team.positions.each do |position| %>
<%= position.name %>, <%= form_tag(event_team_position_membership_path(@event, team, position, current_user.memberships.where(:event => @event)[0].id), method: "patch") do %><%= submit_tag("Join")%>
<%end%>

<% end %>
<br/>
<% end %>
</p>

<p>

	Categories:<% @event.category_list.each do |category| %>
	<%= category %>
	<%end%>
</p>






<p><%= form_tag(event_path(@event, :status => 1), method: "patch") do %><%= submit_tag("Complete")%><%end%></p>
<%= link_to 'Back', events_path %>