<p>
	<strong>Title:</strong>
	<%= @event.title %>
</p>

<p>
	<strong>Description:</strong>
	<%= @event.description %>
</p>

<p>
	<strong>City:</strong>
	<%= @event.city %>
</p>

<p>
	<strong>State:</strong>
	<%= @event.state %>
</p>

<p>
	<strong>Address:</strong>
	<%= @event.address %>
</p>

<%= link_to 'Back', events_path %>