<div class="events-content">
	<div id="events-success-pic">
		<h1>Success Stories</h1>
	</div>
	<!-- <div class="events-searchbar">
		<div id="search-label"><%= image_tag("searchicon.png", :size => "20x20") %> Search Events:</div>
		<%= form_tag "/events", method: 'GET', id: 'events_search' do %>
		 	<%= text_field_tag 'q', params[:q] %>
		  <div style="clear: both"></div>
		<% end %>
	</div> -->

	<hr/>

	<div id="events">
	  <%= render "events" %>
	</div>

	<% if user_signed_in? %>
		</br>
		<%= link_to 'Create Event', new_event_path %>
		<br/>

		<%= link_to 'View Profile', user_path(current_user) %>
		<br/>
		<%= link_to 'Update Account', edit_user_registration_path %>
		<%= link_to 'Stories', success_index_path %>
	<%end%>
</div>

